include hivtrace/rsrc/LANL.FASTA.gz
include hivtrace/rsrc/LANL.TN93OUTPUT.csv.gz
include hivtrace/web/templates/results.html
recursive-include hivtrace/web/static/dist *
recursive-include hivtrace/web/static/assets *
